{% extends "base.html" %}


{% block app_content %}

<div class="">
    <div class="page-header">
        <h1 class="">
            {{ post.title }}
            <br>
            <small>{{ post.subtitle }}</small>
        </h1>
    </div>
    <div class="container">
        {{ post.body }}
        <hr>
    </div>
    <div class="text-center text-muted">
        Last Updated: {{ moment(post.timestamp).fromNow() }}
    </div>
</div>
<hr>
<!-- EDIT POST IF AUTHOR -->
<div class="text-center">
    {% if current_user.id == post.user_id %}
    <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-primary" role="button">Edit Post</a>
    <hr>
    {% endif %}
</div>
<!-- COMMENTS -->
<div class="">
    {% for comment in comments %}
    {% include "_comment.html" %}
    {% endfor %}
    <div class="text-center">
        <a href="{{ url_for('new_comment', post_id=post.id) }}" class="btn btn-primary" role="button">Add a New
            Comment</a>
    </div>
</div>


{% endblock %}